# Cheap Yellow Display (ESP32-2432S028R): ESP32 classico 4MB, sem PSRAM
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_4MB.csv"
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
